{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Analizador Lexico/Sintactico y diagramador de Clases</title>
    <style type="text/css">
        /* textarea {
        resize: none;
        }

        #uml {
        border-style: solid;
        height: 509px;
        overflow: auto;
        }

        #main {
        padding-top: 75px;
        }

        #error {
        color: red;
        }

        table tr {
        text-align: center;
        } */
    </style>
</head>
<body">
<div class="container-fluid">
    <h1 class="mb-5 mt-3 text-center">Analizador Lexico/Sintactico y Diagramador de Clases</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
        <div class="card">
            <div class="card-header bg-success text-white">Definición de la Clase con código</div>
            <div class="card-body">
            <form action="/procesar/" method="get" class="form-inline">
                <div class="form-group col-md-12">
                    <textarea class="form-control col-md-8" name="textarea">{{text}}</textarea>
                    <input class="btn btn-primary offset-md-1 col-md-3" type="submit" value="Procesar">
                </div>                
            </form>
            </div>
        </div>

            {% if not estado %}
            {%for erro in errores%}
            <p id="error">{{erro}}</p>
            {%endfor%}
            {% endif %}
        </div>

        <div class="col-md-5" id="uml">
            <div class="card">
                <div class="card-header bg-success text-white">Diagrama de Clase en UML</div>
                <div class="card-body">
                    {%if estado%}

                        {%for dic in clases%}
                        <table border="collapse">
                            <tr>
                                <td bgcolor="yellow"><h3>Class {{dic.name}}</h3></td>
                            </tr>
                            <tr>
                                <td bgcolor="silver"><strong>Atributos</strong></td>
                            </tr>
                            {%for atr in dic.lstAttributes%}
                            <tr>
                                <td>
                                {%ifequal atr.scope "private"%}
                                -
                                {%endifequal%}
                                {%ifequal atr.scope "public"%}
                                +
                                {%endifequal%}
                                {%ifequal atr.scope "protected"%}
                                #
                                {%endifequal%}

                                {{atr.type}} {{atr.name}}
                                </td>
                            </tr>
                            {%endfor%}
                            <tr>
                                <td bgcolor="silver"><strong>Metodos</strong></td>
                            </tr>

                            {%for meto in dic.lstMethods%}
                            <tr>
                                <td>
                                {%ifequal meto.scope "private"%}
                                -
                                {%endifequal%}
                                {%ifequal meto.scope "public"%}
                                +
                                {%endifequal%}
                                {%ifequal meto.scope "protected"%}
                                #
                                {%endifequal%}

                                {{meto.type}} {{meto.name}}()
                                </td>
                            </tr>
                            {%endfor%}
                        </table>
                        <br>
                        {%endfor%}


                    {% endif%}
                </div> <!-- End div.card-body  -->
        </div>
    </div> <!-- End div.row  -->
</div> <!-- End div.container-fluid  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>